.photo-grid {
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  margin: 92px auto 0;
  padding: 0 48px;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    margin: calc(88px + (100vw - 768px) / (1024 - 768) * (92 - 88)) auto 0;
    padding: 0 calc(24px + (100vw - 768px) / (1024 - 768) * (48 - 24));
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    margin: calc(64px + (100vw - 320px) / (768 - 320) * (88 - 64)) auto 0;
    padding: 0 calc(16px + (100vw - 320px) / (768 - 320) * (24 - 16));
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    grid-template-columns: fit-content(288px);
    gap: 1200px;
  }
}
