.cover__subtitle {
  max-width: 360px;
  margin: 32px auto 0;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  line-height: calc(22 / 16);
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    margin: calc(16px + (100vw - 320px) / (768 - 320) * (32 - 16)) auto 0;
    font-size: calc(14px + (100vw - 320px) / (768 - 320) * (18 - 14));
  }
}
