.header__link {
    color: #fff;
    text-decoration: none;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    transition: opacity .2s linear;  

  }

  .header__link:hover {
    opacity: .3;
  }

  @media screen and (max-width: 768px) {
    .header__link {
      font-size: calc(18px + (100vw - 320px) / (768 - 320) * (24 - 18));
      line-height: calc((20 + (100vw - 320px) / (768 - 320) * (28 - 18)));
    }
  }
  