.place__link {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  transition: opacity 0.2s linear;
  font-family: Inter, Times New Roman, serif, sans-serif;
  font-style: normal;
}

.place__link:hover {
  opacity: 0.8;
}

.place__link:after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: -1px;
}

@media screen and (max-width: 320px) {
  .place__link {
    margin: 0 16px;
  }
}
