.lead__caption {
  margin: 5px 0 0;
  font-family: Inter, Times New Roman, serif, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    padding: 0 calc(16px + (100vw - 320px) / (768 - 320) * (24 - 16));
  }
}
