.footer {
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 48px  24px;
  }


  @media screen and (max-width: 768px) {
    .footer {
      padding: 0 calc(118px + (100vw - 320px) / (768 - 320) * (24 - 118))
      calc(16px + (100vw - 320px) / (768 - 320) * (24 - 16))
      calc(16px + (100vw - 320px) / (768 - 320) * (24 - 16));
      
    }
  }
    
  @media screen and (max-width: 540px) {
    .footer {
      flex-direction: column;
    }
  }
  